body
{
    background-image: url("/resources/bg_gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-background-image: url("/resources/bg_gif.gif");
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: cover;
    
    -moz-background-image: url("/resources/bg_gif.gif");
    -moz-background-repeat: no-repeat;
    -moz-background-size: cover;
    
    font-family: 'FantasqueSansMonoRegular';
    color: #54bf40;
}
.bannerContainer
{
    height:  15.5vh;

}
.banner
{
    width: 100vmax;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.94);
    height:   15.5vh;
    /*align-content: center;*/
}
button
{
    cursor: pointer;
    font-family: 'FantasqueSansMonoRegular';
}
button:focus 
{
    outline:0;
}
.banner-left
{
    float: left;
    /*color: aliceblue;*/
    font-size: 1.5vw;
    height: 15vh;
}
.banner-right
{
    float: right;
    height: 15vh;
    width: auto;
}
img
{
    cursor: pointer;
    height: 12vh;
    max-width: 100%;
    padding: 2vh;
}

.banner-right img:hover 
{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.inner-left
{
    float:  left;
    width:  50%;
    left: 0;
    top: 0;
    
}
.inner-right
{
    width:  45%;
    float:  right;
    
}

@keyframes shake 
{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

ul
{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: auto;
}

.panel
{
    min-width: 5vw;
    max-width: 12vw;
    text-align: center;
    height: 70vh;
    display:inline-grid;
    grid-row-gap: 25vh;
    align-content: center;
}

.navButton
{
    max-width:  100%;
    height:     auto;
    font-size:  2vw;
    padding:    0;
    margin:     auto 0;
    background: transparent;
    border-style: none;
    color: aliceblue;
}

.panel-left
{
    float: left;
    margin: auto;

}
.panel-right
{
    float: right;
    margin: auto;
}

.panel-center
{
    max-width: 70vw;
    min-width: 15vw;
    height: 82vh;
    margin: auto;
    overflow: hidden;
}
.page-display
{
    padding: 5vh;
    height: 100%;
    width: 101.5%;
    border-style: none;
    padding: 0;
}

.navButton-selected
{
 background-color: rgba(0, 0, 0, 0.94);   
        color: #54bf40;
}

.navButton:hover
{
        color: #54bf40;
    background-color: rgba(0, 0, 0, 0.94); 
      /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count:1;
}

